export GTK_IM_MODULE=fcitx 
export QT_IM_MODULE=fcitx 
export XMODIFIERS=@im=fcitx
export QT_QPA_PLATFORMTHEME="qt5ct"

sxhkd & #keybinds

setxkbmap -option ctrl:swapcaps -option compose:menu & #keyboard options


