snippet template "basic template" 
program ${1:program_name}
var
	${2:${VISUAL:variables}}
begin
	$0
end.
endsnippet

snippet "var" "Description" bA
var ${1:${VISUAL:name(s)}} : ${2:type};
endsnippet

snippet qwerty "Description" 
dvorak
endsnippet
