snippet "^#!$" "basic template" rbA
program ${1:program_name};
	${2:${VISUAL:variables}}
begin
	$0
end.
endsnippet

snippet var "variables" bA
var ${1:${VISUAL:name(s)}} : ${2:type};
endsnippet

snippet const "Constant" bA
const ${1:${VISUAL:name}} = ${2:value};
endsnippet

